body{background-color: #c2bebe;
font-family: Arial, sans-serif;
}

header {
background-color: #2980b9;
color: #fff;
padding: 20px;
text-align: center;
}

.menu {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 50px auto;
max-width: 800px;
}

.item {
background-color: #fff;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
margin: 20px;
padding: 20px;
text-align: center;
width: calc(33.33% - 40px);
}

.item img {
display: block;
height: 200px;
margin: 0 auto;
object-fit: cover;
width: 100%;
}

.item h2 {
color: #2980b9;
font-size: 24px;
margin-top: 20px;
}

.item p {
color: #555;
font-size: 16px;
margin-top: 10px;
}

.item span {
color: #2980b9;
display: block;
font-size: 20px;
margin-top: 20px;
}

